div {
  box-sizing: border-box;
  max-height: 98vh;
}
.background {
  display: block;
  margin: auto;
  width: 98vw;
  height: 90vh;
  z-index: 0;
}
.animals {
  display: flex;
  position: relative;
  top: -80vh;
  margin: 1rem;
  z-index: 100;
}
.animal {
  margin: 3vh 4vw;
  width: 250px;
  height: 250px;
}
